.radio-container {
  display: grid;
  grid-auto-flow: row;

  .radio-item-container {
    &.horizontal {
      display: inline-grid;
      grid-auto-flow: column;
    }

    .radio-item {
      input {
      }
      label {
        padding-left: 4px;
      }
    }
  }
}
